[submodule "libs/test"]
	path = lib/test
	url = git@github.com:Felspar/test.git
[submodule "libs/memory"]
	path = lib/memory
	url = git@github.com:Felspar/memory.git
[submodule "libs/exceptions"]
	path = lib/exceptions
	url = git@github.com:Felspar/exceptions.git
[submodule "libs/coro"]
	path = lib/coro
	url = git@github.com:Felspar/coro.git
[submodule "libs/io"]
	path = lib/io
	url = git@github.com:Felspar/io.git
[submodule "libs/pqxx"]
	path = lib/pqxx
	url = git@github.com:jtv/libpqxx.git
